<p class="admin-options">
	<a href="/admin/add" title="{"Add Page"}"><img src="/apps/admin/css/admin/add.png" /></a>{% if locked %}<a href="javascript:void(0)" title="{"Editing Locked"}"><img src="/apps/admin/css/admin/lock.png" /></a>{% else %}<a href="/admin/edit?page={{ id }}" title="{"Edit Page"}"><img src="/apps/admin/css/admin/edit.png" /></a><a href="/admin/versions?type=Webpage&id={{ id }}" title="{"Versions"}"><img src="/apps/admin/css/admin/versions.png" /></a><a href="/admin/delete?page={{ id }}" title="{"Delete Page"}" onclick="return confirm ('{"Are you sure you want to delete the current page?"}');"><img src="/apps/admin/css/admin/delete.png" /></a>{% end %}
</p>

{{ body|none }}
