div#header_outer_wrapper {
  background: url('../static/transition_bg_top_s1.png') top center repeat-x;
}
div#header_outer {
	background: url('../static/transition_bg_bottom_s1.png') bottom center repeat-x;
	padding: 40px 0;
	margin-top: 28px;
}
div#header_inner {
	background: url('../static/foreground_bg_s1.png') top center repeat;
	height: 98px;
	overflow: hidden;
}
div#top_wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
div#logo {
	position: absolute;
	top: 0;
	left: 0;
}
div#menu {
	position: absolute;
	top: 40px;
	right: 0;
}
div#menu,
div#menu a {
	color: #FFF !important;
	font-size: 14px;
}