<span id="admin-tools">Tools <strong>&or;</strong>
<ul id="admin-tools-list">
{% foreach tools %}
	<li><a href="/{{ loop_index }}"{% if loop_value['class'] %}class="{{ loop_value['class'] }}"{% end %}>{{ loop_value[name] }}</a></li>
{% end %}
</ul>
</span>
<a href="/user">{{ user }}</a>
<a href="/user/logout">{"Log out"}</a>
