<!DOCTYPE html>
<html>
<head>
	<title>{{ conf('General', 'site_name') }} - {{ window_title }}</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css" />
	<link rel="stylesheet" type="text/css" href="/css/text.css" />
	<link rel="stylesheet" type="text/css" href="/css/960.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/css/secondary.css" />
	{! admin/head !}
	{{ head|none }}
</head>
<body>

<div id="header_outer_wrapper"><div id="header_outer">
	<div id="header_inner">
		<div id="top_wrapper">
			<div id="logo"><img src="/static/secondary_header_s1.png" alt="Cindy Boyd: Life Coach"></div>
			<div id="menu" class="menu">
				{! admin/menu !}
			</div>
		</div>
	</div>
</div></div>

<script>
$(function() {
	var nav_items = [];
	$('#menu ul li').each(function() {
		nav_items.push($(this).html());
	});
	
	var nav_string = nav_items.join(' &bull; ');
	$('#menu').html(nav_string);
});
</script>
	
	
<div id="wrapper" class="container_12">
	<div id="body" class="grid_12">
		{% if title != '' %}<h1>{{ title }}</h1>{% end %}
		{{ body|none }}
	</div>
	<div class="clear"></div>
</div>
{{ tail|none }}
</body>
</html>