<p class="autosave-notice">Auto-saved data found for this form. <a href="#" class="autosave-restore">Click here to restore.</a></p>

<form method="POST" id="add-form">
<p>Block title:<br /><input type="text" name="title" size="50" value="{{ title }}" onblur="webpage_add_title_to_id (this.form)" />
<span class="notice" id="title-notice">You must enter a block title.</span></p>
<p>Block ID (ex: <tt>{<span></span>! blocks/<strong>your-block-id</strong> !<span></span>}</tt>):<br /><input type="text" name="id" size="35" value="{{ id }}" onblur="this.value = this.value.toLowerCase ()" />
<span class="notice" id="id-notice">Your ID must be a lowercase alphanumeric value and can't already exist.</span></p>
<p>Body: <span class="notice" id="body-notice">You must enter body content.</span><br />
<textarea name="body" id="webpage-body" cols="90" rows="28">{{ body }}</textarea></p>

<h4><a href="#" onclick="return webpage_show_extra_options (this)" class="extra-options-link"><span class="arrow arrow-off"></span>{"Extra Options"}</a></h4>
<div id="extra-options">
<p>Access:<br />
<select name="access">
	<option value="public"{% if access == 'public' %} selected{% end %}>{"Public"}</option>
	<option value="member"{% if access == 'member' %} selected{% end %}>{"Members"}</option>
	<option value="private"{% if access == 'member' %} selected{% end %}>{"Private"}</option>
</select></p>
<p>Display title:<br />
<select name="show_title">
{% foreach yes_no %}
	<option value="{{ loop_value }}"{% if loop_value == $data->show_title %} selected{% end %}>{{ loop_value|ucfirst }}</option>
{% end %}
</select></p>
</div>
<p>
	<input type="submit" value="Add Block" class="autosave-clear" />&nbsp;
	<a href="javascript:history.go(-1)" onclick="return $.cancel_autosave ('Are you sure you want to cancel and lose any changes?')">Cancel</a>
</p>
</form>
